# Telegram
TELEGRAM_API_ID=
TELEGRAM_API_HASH=

# Reddit
SUBREDDITS=ukraine,worldnews
COMMENTS_SRC=

# Alarms
ALERTS_IN_UA_API_KEY=
UKRAINE_ALARM_API_KEY=

# AWS IAM
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

# S3
S3_BUCKET=
S3_PREFIX=