# Telegram
TELEGRAM_API_ID=your-telegram-api-id
TELEGRAM_API_HASH=your-telegram-api-hash

# Alarms
ALERTS_IN_UA_API_KEY=your-alerts-in-ua-api-key

# AWS IAM
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_DEFAULT_REGION=your-aws-region

# S3
S3_BUCKET=your-s3-bucket-name
S3_PREFIX=predictions

# API
API_KEY=your-own-api-key

# EC2
EC2_HOST=http://your-ec2-ip   # elastic IP recommended
